/*
Step 1 
Create NorthWindContacts database in SSMS

Step 2
Copy this script into SSMS, select NorthWindContacts

Step 3
Run the script

Step 4
Right click on NorthWindContacts, select refresh
*/

USE [NorthWindContacts]
GO
/****** Object:  Table [dbo].[ContactDevices]    Script Date: 9/10/2022 3:11:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactDevices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ContactId] [int] NULL,
	[PhoneTypeIdentifier] [int] NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContactDevices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[ContactTypeIdentifier] [int] NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactType](
	[ContactTypeIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[ContactTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContactType] PRIMARY KEY CLUSTERED 
(
	[ContactTypeIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactDevices] ON 

INSERT [dbo].[ContactDevices] ([id], [ContactId], [PhoneTypeIdentifier], [PhoneNumber]) VALUES (1, 1, 3, N'(5) 555-4729')
INSERT [dbo].[ContactDevices] ([id], [ContactId], [PhoneTypeIdentifier], [PhoneNumber]) VALUES (2, 2, 3, N'(5) 555-3932')
INSERT [dbo].[ContactDevices] ([id], [ContactId], [PhoneTypeIdentifier], [PhoneNumber]) VALUES (3, 3, 3, N'(171) 555-7788')
SET IDENTITY_INSERT [dbo].[ContactDevices] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [ContactTypeIdentifier]) VALUES (1, N'Maria', N'Anders', 1)
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [ContactTypeIdentifier]) VALUES (2, N'Ana', N'Trujillo', 7)
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [ContactTypeIdentifier]) VALUES (3, N'Antonio', N'Moreno', 7)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactType] ON 

INSERT [dbo].[ContactType] ([ContactTypeIdentifier], [ContactTitle]) VALUES (1, N'Accounting Manager')
INSERT [dbo].[ContactType] ([ContactTypeIdentifier], [ContactTitle]) VALUES (2, N'Assistant Sales Agent')
INSERT [dbo].[ContactType] ([ContactTypeIdentifier], [ContactTitle]) VALUES (3, N'Assistant Sales Representative')
SET IDENTITY_INSERT [dbo].[ContactType] OFF
GO
ALTER TABLE [dbo].[ContactDevices]  WITH CHECK ADD  CONSTRAINT [FK_ContactDevices_Contacts1] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contacts] ([ContactId])
GO
ALTER TABLE [dbo].[ContactDevices] CHECK CONSTRAINT [FK_ContactDevices_Contacts1]
GO
ALTER TABLE [dbo].[ContactDevices]  WITH CHECK ADD  CONSTRAINT [FK_ContactDevices_PhoneType] FOREIGN KEY([PhoneTypeIdentifier])
REFERENCES [dbo].[PhoneType] ([PhoneTypeIdenitfier])
GO
ALTER TABLE [dbo].[ContactDevices] CHECK CONSTRAINT [FK_ContactDevices_PhoneType]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_Contacts_ContactType] FOREIGN KEY([ContactTypeIdentifier])
REFERENCES [dbo].[ContactType] ([ContactTypeIdentifier])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_Contacts_ContactType]
GO
